    <div ng-cloak>
        <ul>
            <li ng-repeat="(id,category) in carsCategories">
                <span ng-hide="startEdit" class="ng-hide">{{category.name}}</span>
                <div ng-show="startEdit">
					<form ng-submit="updateCarCategory(id); startEdit = false">
					    <input type="text" ng-model="category.name" />
					    <input type="submit" id="submit" value="Zapisz" />
					</form>    
                </div>
                <button class='btn btn-mini' ng-click='startEdit = true'>edit</button>
				<form ng-submit="category.cars.push(car);updateCarCategory(id);">
					    <input type="text" ng-model="car.name" />
					    <input type="submit" id="submit222" value="Dodaj Auto" />
				</form>   
            </li>
        </ul>
  
       <form ng-submit="addCarCategory(name, {})">
    		<input type="text" ng-model="name" />
    		<input type="submit" id="submit" value="Dodaj Kategorię" />
       </form>
   
        
    </div>
   
