    <div ng-cloak>
       <ul>
            <li ng-repeat="(id,category) in carsCategories">
                <span ng-hide="startEdit" class="ng-hide">{{category.name}}</span>
                <div ng-show="startEdit">
					<form ng-submit="updateCarCategory(id); startEdit = false">
					    <input type="text" ng-model="category.name" />
					    <input type="submit" id="submit" value="Zapisz" />
					</form>    
                </div>
                <button class='btn btn-mini' ng-click='startEdit = true'>edit</button>
				<form ng-submit="addCar(category,car);updateCarCategory(id);">
					    <input type="text" ng-model="car.name" />
					    <input type="submit" id="submit222" value="Dodaj Auto" />
				</form>   
            </li>
        </ul>
  
       <form ng-submit="addCarCategory(name, {})">
    		<input type="text" ng-model="name" />
    		<input type="submit" id="submit" value="Dodaj Kategorię" />
       </form>


        <div  class="row">
            <div ng-repeat="(id,category) in carsCategories" class="col-md-3">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                </button>  
                <ul class="nav nav-pills nav-justified">
                  <li role="presentation" class="active"><a href="">{{category.name}}</a></li>
                </ul>
                <div class="panel panel-default" >
                    <div class="panel-heading" ng-click="showAddCarPanel(category)">Dodaj</div>                
                    <form ng-show="category.addCarPanelAvailable" ng-submit="addCar(category,car);updateCarCategory(id);">
                        <div class="form-group">
                            <label for="carBrand">Marka:</label>
                            <input type="text" class="form-control" id="carBrand" placeholder="Marka" ng-model="car.brand">
                        </div>
                        <div class="form-group">
                            <label for="carModel">Model:</label>
                            <input type="text" class="form-control" id="carModel" placeholder="Model" ng-model="car.model">
                        </div>
                        <div class="form-group">
                            <label for="carYear">Rok Produkcji</label>
                            <input type="text" class="form-control" id="carYear" placeholder="Rok" ng-model="car.year">
                        </div>       
                        <div class="form-group">
                            <label for="carEngine">Rodzaj silnika</label>
                            <input type="text" class="form-control" id="carEngine" placeholder="Silnik" ng-model="car.engine">
                        </div>    
                        <div class="form-group">
                            <label for="carDescription">Dodatkowe informacje</label>
                            <input type="text" class="form-control" id="carDescription" placeholder="Opis" ng-model="car.description">
                        </div>     
                        <div class="form-group">
                            <label for="carPrice">Cena</label>
                            <input type="text" class="form-control" id="carPrice" placeholder="Cena" ng-model="car.price">
                        </div>                                                                       
                        <button type="submit" class="btn btn-default" ng-click="showAddCarPanel(category)">Dodaj Auto</button>
                    </form>
                </div>
                
                <div ng-repeat="(carId,car) in category.cars" class="panel panel-info">
                    <div class="panel-heading">{{carId + 1}}. {{car.brand}} {{car.model}} 
                        <button type="button" class="btn btn-default btn-sm" style="float: right; top: -5px; position: relative;" ng-click="carEdit.id = id; carEdit.carId = carId;">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" style="float: right; top: -5px; position: relative;">
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        </button> 
                    </div>
                    <div ng-show="editCar(id, carId) ">
                        <form ng-submit="updateCarCategory(id);">
                            <div class="form-group">
                                <label for="carBrand">Marka:</label>
                                <input type="text" class="form-control" id="carBrand" placeholder="Marka" ng-model="car.brand">
                            </div>
                            <div class="form-group">
                                <label for="carModel">Model:</label>
                                <input type="text" class="form-control" id="carModel" placeholder="Model" ng-model="car.model">
                            </div>
                            <div class="form-group">
                                <label for="carYear">Rok Produkcji</label>
                                <input type="text" class="form-control" id="carYear" placeholder="Rok" ng-model="car.year">
                            </div>       
                            <div class="form-group">
                                <label for="carEngine">Rodzaj silnika</label>
                                <input type="text" class="form-control" id="carEngine" placeholder="Silnik" ng-model="car.engine">
                            </div>    
                            <div class="form-group">
                                <label for="carDescription">Dodatkowe informacje</label>
                                <input type="text" class="form-control" id="carDescription" placeholder="Opis" ng-model="car.description">
                            </div>     
                            <div class="form-group">
                                <label for="carPrice">Cena</label>
                                <input type="text" class="form-control" id="carPrice" placeholder="Cena" ng-model="car.price">
                            </div>                                                                       
                            <button type="submit" class="btn btn-default" ng-click="carEdit.id = -100;carEdit.carId=-200;">Zapisz zmiany</button>
                        </form>
                    </div>
                    <ul class="list-group" ng-hide="editCar(id, carId);">
                        <li class="list-group-item">Marka: {{car.brand}}</li>
                        <li class="list-group-item">Model: {{car.model}}</li>
                        <li class="list-group-item">Rok: {{car.year}}</li>
                        <li class="list-group-item">Silnik: {{car.engine}}</li>
                        <li class="list-group-item">Dodatkowy opis: {{car.description}}</li>
                        <li class="list-group-item">Cena: {{car.price}}</li>
                      </ul>
                </div>
            </div>

        </div>

        
</div>
   
