
	<div class="page-header">
	  <h1>Strona główna do zarządzania komisem</h1>
	  <h4>Sprawdź listę dostępnych pojazdów!</h4>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Nasze dane kontaktowe:</h3>
	  </div>
	  <div class="panel-body">
		<ul class="list-group">
		  <li class="list-group-item">Komis Alibaba</li>
		  <li class="list-group-item">ul. Krowoderskich 23/45</li>
		  <li class="list-group-item">30-154 Kraków</li>
		  <li class="list-group-item">tel. 555 666 777</li>
		  <li class="list-group-item">NIP: 345 21 123 312</li>
		</ul>
	  </div>
	</div>
